asgiref==3.4.1
autopep8 @ file:///opt/conda/conda-bld/autopep8_1639166893812/work
certifi==2021.10.8
Django==4.0
django-debug-toolbar==3.2.4
django-filter==21.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
pycodestyle @ file:///tmp/build/80754af9/pycodestyle_1636635402688/work
PyJWT==2.3.0
pytz==2021.3
sqlparse==0.4.2
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
